<%- include('header'); -%>

<div class="flex flex-col justify-center h-96 m-auto" style="background: url('daruma.png') no-repeat scroll right top">
<div class="pl-10">
  <h1 class="font-bold text-6xl" style="width:570px;">The Only Discord Bot you'll ever need</h1>
  <p class="mt-7">A Fully customizable Discord bot with endless features that will blow your mind away.</p>
  <div class="mt-7">
  <button class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 transition-all">Add to Discord</button>
  <button class="text-white bg-gray-800 hover:bg-gray-900 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-800 dark:border-gray-700">Learn More</button>
</div>
</div>
</div>

<section>
  <div class="card-footer" style="margin-top:15%;text-align: center;color: #828cff;">
    <hr
      style="width: 75%;background-color: #FFFFFF!important;color: #FFFFFF!important;border: 5px solid #FFFFFF!important;border-radius:25px;margin-left: 12%;">
    <h4 style="margin-top:5%;">
      <img src="<%= bot.user.displayAvatarURL({size: 4096}) %>" style="width: 4%;margin-top: -0.5%;"> <span
        style="font-size: 40px;"><%= bot.user.username %></span>
    </h4>
  </div>
</section>